<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	
	<?if $(var.Platform)=x64 ?>
		<?define AppCode="{2457DDBF-D94A-416B-BF20-C5772AA853E7}"?>	
	<?else?>
		<?define AppCode="{AF1B01CD-5DDC-460B-B2A7-B7B2CF09AE09}"?>
	<?endif?>

	<?define UpgradeCode="{E9710922-5282-4AE1-A31E-E52368DF1C07}"?>
	
	<Product
		Id="$(var.AppCode)"
		Name="!(loc.ProductName_$(var.Platform))" 
		Language="1033" 
		Version="$(var.BuildVersion)"
		Manufacturer="ImpInc."
		UpgradeCode="$(var.UpgradeCode)">
		
		<Package 
			InstallerVersion="200"
			Compressed="yes" 
			Manufacturer="ImpInc."
			Description="Mod Tools for Stardock's Galactic Civilizations IV"
			InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed."
		AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" />
		
		<MediaTemplate
			EmbedCab="yes"
			/>

		<Icon Id="icon.ico" SourceFile="$(var.ModTools.ProjectDir)\app.ico"/>

		<Property Id="ARPPRODUCTICON">icon.ico</Property>
		<Property Id="ARPURLINFOABOUT">https://forums.galciv4.com/512485/page/1/#3852302</Property>

		<UIRef Id="WixUI_Minimal"/>
		<!--<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp"/>-->
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\AppLicense.rtf"/>

		<Feature Id="ProductFeature" Title="GC4ModToolsSetup" Level="1">
			
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />
			
		</Feature>
		
	</Product>
	
</Wix>
